        </div>
        <footer>
            <div class="footer_copyright">© {global.yearCreated} Copyright: {global.companyName}</div>
            <ul class="footer_social">
                <li>
                    <a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com"><i class="fab fa-youtube-square"></i></a>
                </li>
            </ul>
        </footer>
        <script src="https://checkout.stripe.com/checkout.js"></script>
    </body>
</html>
