<div class='menus place_order'>
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <h1>Place Your Order</h1>
    <div class="no_cards">
        <p>You do not have cards to order.<span><a class="card_delete_btn" href='/items'>Add Card!</a></span></p>
    </div>
    <ul class="user_cards"></ul>
    <div class="order_details">
        <h4>Place Your Order:</h4>
        <p class="order_val"><span class="order_name">User:</span><span class="order_value_user"></span></p>
        <p class="order_val"><span class="order_name">Address:</span><span class="order_value_address"></span></p>
        <p class="order_val"><span class="order_name">Total Price:</span><span class="order_value_price"></span></p>
        <button id="place_order_btn" class="btn">Place Your Order</button>
        <div class="order_error">Sorry, we could not receive your order! Please, try again later.</div>
    </div>
</div>